# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
%matplotlib inline

WARNING:tensorflow:From C:\Users\KerryZhang\anaconda3\envs\dev\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")


# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"])


# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)


# Display the categorical variables list
# YOUR CODE HERE
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse_output=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
# YOUR CODE HERE
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "int64"].index)
numerical_variables_df = applicant_data_df[numerical_variables]

# Review the Dataframe
# YOUR CODE HERE
numerical_variables_df.head()

applicant_df = pd.concat([numerical_variables_df, encoded_df], axis="columns", join="inner")
applicant_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = applicant_df["IS_SUCCESSFUL"]

# Display a sample of y
# YOUR CODE HERE
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = applicant_df.drop(columns = ["IS_SUCCESSFUL"], axis = 1)

# Review the features DataFrame
# YOUR CODE HERE
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a Scaler instance
X_scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1)//2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1)//2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [18]:
# Create the Sequential model instance
nn = Sequential()

WARNING:tensorflow:From C:\Users\KerryZhang\anaconda3\envs\dev\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [19]:
# Add the first hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [20]:
# Add the second hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [22]:
# Display the Sequential model summary
# YOUR CODE HERE
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8527 (33.31 KB)
Trainable params: 8527 (33.31 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
# YOUR CODE HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\KerryZhang\anaconda3\envs\dev\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [24]:
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
WARNING:tensorflow:From C:\Users\KerryZhang\anaconda3\envs\dev\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\KerryZhang\anaconda3\envs\dev\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 1s 617us/step - loss: 0.5784 - accuracy: 0.7183
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5554 - accuracy: 0.7300
Epoch 3/50
804/804 [==============================] - 1s 799us/step - loss: 0.5501 - accuracy: 0.7308
Epoch 4/50
804/804 [==============================] - 1s 937us/step - loss: 0.5492 - accuracy: 0.7313
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7334
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7337
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7333
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7350
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7350
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7348
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7356
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7360
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7356
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7362
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7363
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7369
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7383
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7372
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7380
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7389
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7377
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7384
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7384
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7386
Epoch 25/50
804/804 [==============================] - 1s 633us/step - loss: 0.5363 - accuracy: 0.7379
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7397
Epoch 27/50
804/804 [==============================] - 1s 983us/step - loss: 0.5364 - accuracy: 0.7389
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7389
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7399
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7390
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7397
Epoch 32/50
804/804 [==============================] - 1s 798us/step - loss: 0.5350 - accuracy: 0.7394
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7402
Epoch 34/50
804/804 [==============================] - 1s 910us/step - loss: 0.5345 - accuracy: 0.7396
Epoch 35/50
804/804 [==============================] - 1s 998us/step - loss: 0.5339 - accuracy: 0.7402
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7397
Epoch 37/50
804/804 [==============================] - 1s 790us/step - loss: 0.5345 - accuracy: 0.7401
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7401
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7389
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7401
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7403
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7394
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7408
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7404
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7404
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7408
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7409
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7406
Epoch 49/50
804/804 [==============================] - 0s 565us/step - loss: 0.5321 - accuracy: 0.7405
Epoch 50/50
804/804 [==============================] - 1s 673us/step - loss: 0.5327 - accuracy: 0.7409

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
results_df=pd.DataFrame(
                    data={
                        'Loss'    : [model_loss], 
                        'Accuracy': [model_accuracy],
                        'Hidden layers': 2,
                        'Input Features':[number_input_features],
                        'Output Neurons': [number_output_neurons],
                        'Neurons in Hidden Layers1' : [hidden_nodes_layer1],
                        'Neurons in Hidden Layers2' : [hidden_nodes_layer2],
                        'Epochs'         : 50,
                        'Activation Hidden layer 1': ['relu'],
                        'Activation Hidden layer 2': ['relu'],
                        'Activation Output layer 1': ['sigmoid'],
                        'loss':['binary_crossentropy'],
                        'optimizer':['adam'],
                        'metrics':['accuracy']

                        
                    })

print(results_df.T)

268/268 - 0s - loss: 0.5599 - accuracy: 0.7305 - 341ms/epoch - 1ms/step
                                             0
Loss                                  0.559904
Accuracy                              0.730496
Hidden layers                                2
Input Features                             116
Output Neurons                               1
Neurons in Hidden Layers1                   58
Neurons in Hidden Layers2                   29
Epochs                                      50
Activation Hidden layer 1                 relu
Activation Hidden layer 2                 relu
Activation Output layer 1              sigmoid
loss                       binary_crossentropy
optimizer                                 adam
metrics                               accuracy

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [26]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
# YOUR CODE HERE
nn.save(file_path)

C:\Users\KerryZhang\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [27]:

# Create the Sequential model instance
dropout_model = Sequential()

In [28]:

from tensorflow.keras.layers import Dropout

In [29]:
# Add the first hidden layer specifying the number of inputs, the number of hidden nodes, and the activation function
dropout_model.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
# Adding dropout
dropout_model.add(Dropout(0.4))  # Dropout rate can be adjusted

In [30]:
# Add the second hidden layer specifying the number of hidden nodes and the activation function
dropout_model.add(Dense(units=hidden_nodes_layer2, activation="relu"))
# Adding dropout
dropout_model.add(Dropout(0.4))  # Dropout rate can be adjusted

In [31]:
# Add the output layer to the model specifying the number of output neurons and activation function
dropout_model.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [32]:
# Display the Sequential model summary
dropout_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6786

 dropout (Dropout)           (None, 58)                0

 dense_4 (Dense)             (None, 29)                1711

 dropout_1 (Dropout)         (None, 29)                0

 dense_5 (Dense)             (None, 1)                 30

=================================================================
Total params: 8527 (33.31 KB)
Trainable params: 8527 (33.31 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [33]:
# Compile model
dropout_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [34]:
# Fit the model using 100 epochs and the training data
model_1 = dropout_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.6520 - accuracy: 0.6677
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5924 - accuracy: 0.7146
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5802 - accuracy: 0.7215
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5727 - accuracy: 0.7225
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5677 - accuracy: 0.7271
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5666 - accuracy: 0.7249
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5635 - accuracy: 0.7266
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5617 - accuracy: 0.7290
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5614 - accuracy: 0.7278
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5597 - accuracy: 0.7313
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5595 - accuracy: 0.7300
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5562 - accuracy: 0.7287
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5574 - accuracy: 0.7303
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5552 - accuracy: 0.7312
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5557 - accuracy: 0.7292
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5549 - accuracy: 0.7308
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5535 - accuracy: 0.7315
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5569 - accuracy: 0.7280
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5540 - accuracy: 0.7321
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5531 - accuracy: 0.7295
Epoch 21/100
804/804 [==============================] - 1s 761us/step - loss: 0.5527 - accuracy: 0.7332
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5513 - accuracy: 0.7334
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5536 - accuracy: 0.7311
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5533 - accuracy: 0.7317
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5534 - accuracy: 0.7300
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5524 - accuracy: 0.7310
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5527 - accuracy: 0.7315
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5522 - accuracy: 0.7317
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5527 - accuracy: 0.7313
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5519 - accuracy: 0.7331
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7316
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5514 - accuracy: 0.7337
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5501 - accuracy: 0.7337
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5519 - accuracy: 0.7340
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5502 - accuracy: 0.7324
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5513 - accuracy: 0.7334
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5517 - accuracy: 0.7310
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7328
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7318
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5489 - accuracy: 0.7319
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7328
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.7333
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5511 - accuracy: 0.7303
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5498 - accuracy: 0.7342
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5499 - accuracy: 0.7335
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5492 - accuracy: 0.7338
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7351
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.7322
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7337
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7331
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5492 - accuracy: 0.7338
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7328
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5496 - accuracy: 0.7331
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5490 - accuracy: 0.7325
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5511 - accuracy: 0.7331
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7343
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7352
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7326
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7352
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7332
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7350
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7324
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7328
Epoch 64/100
804/804 [==============================] - 1s 865us/step - loss: 0.5469 - accuracy: 0.7331
Epoch 65/100
804/804 [==============================] - 1s 857us/step - loss: 0.5479 - accuracy: 0.7345
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7329
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5477 - accuracy: 0.7333
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7335
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7348
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7330
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7347
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7353
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7342
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7341
Epoch 75/100
804/804 [==============================] - 1s 902us/step - loss: 0.5475 - accuracy: 0.7334
Epoch 76/100
804/804 [==============================] - 1s 956us/step - loss: 0.5455 - accuracy: 0.7361
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5484 - accuracy: 0.7327
Epoch 78/100
804/804 [==============================] - 1s 963us/step - loss: 0.5467 - accuracy: 0.7332
Epoch 79/100
804/804 [==============================] - 1s 813us/step - loss: 0.5474 - accuracy: 0.7311
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7348
Epoch 81/100
804/804 [==============================] - 1s 931us/step - loss: 0.5492 - accuracy: 0.7330
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7358
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7337
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7343
Epoch 85/100
804/804 [==============================] - 1s 856us/step - loss: 0.5481 - accuracy: 0.7343
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7343
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7343
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7336
Epoch 89/100
804/804 [==============================] - 1s 996us/step - loss: 0.5465 - accuracy: 0.7348
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7352
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7344
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7345
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7344
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7327
Epoch 95/100
804/804 [==============================] - 1s 853us/step - loss: 0.5455 - accuracy: 0.7331
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.7329
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7345
Epoch 98/100
804/804 [==============================] - 1s 727us/step - loss: 0.5467 - accuracy: 0.7343
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7350
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7348

In [35]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [36]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = # YOUR CODE HERE

SyntaxError: invalid syntax (2813427847.py, line 2)

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

In [ ]:
# Create the Sequential model instance
nn_A2 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE

# Output layer
# YOUR CODE HERE

# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the model
# YOUR CODE HERE

In [ ]:
# Fit the model
# YOUR CODE HERE

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
# Create the Sequential model instance
batch_norm_model = Sequential()

In [ ]:
from tensorflow.keras.layers import BatchNormalization

In [ ]:
# Add the first hidden layer specifying the number of inputs, the number of hidden nodes, and the activation function
batch_norm_model.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features))
batch_norm_model.add(BatchNormalization())
batch_norm_model.add(Activation('relu'))

In [ ]:
# Add the second hidden layer specifying the number of hidden nodes and the activation function
batch_norm_model.add(Dense(units=hidden_nodes_layer2))
batch_norm_model.add(BatchNormalization())
batch_norm_model.add(Activation('relu'))

In [ ]:
# Add the output layer to the model specifying the number of output neurons and activation function
batch_norm_model.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [ ]:
# Display the Sequential model summary
batch_norm_model.summary()

In [ ]:
# Compile model
batch_norm_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Fit the model using 100 epochs and the training data
model_2 = batch_norm_model.fit(X_train_scaled, y_train, epochs=100)

In [ ]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss_2, model_accuracy_2 = batch_norm_model.evaluate(X_test_scaled, y_test, verbose=2)

In [ ]:
# Display the model loss and accuracy results
results_batch_norm_model_df = pd.DataFrame(
                    data={
                        'Loss'    : [model_loss_2], 
                        'Accuracy': [model_accuracy_2],
                        'Hidden layers': 2,
                        'Input Features':[number_input_features],
                        'Output Neurons': [number_output_neurons],
                        'Neurons in Hidden Layers1' : [hidden_nodes_layer1],
                        'Neurons in Hidden Layers2' : [hidden_nodes_layer2],
                        'Epochs'         : 50,
                        'Activation Hidden layer 1': ['relu'],
                        'Activation Hidden layer 2': ['relu'],
                        'Activation Output layer 1': ['sigmoid'],
                        'loss':['binary_crossentropy'],
                        'optimizer':['adam'],
                        'metrics':['accuracy']

                        
                    })

print(results_batch_norm_model_df.T)

In [ ]:
# Set the file path where you want to save the model
file_path = "AlphabetSoup_BatchNorm.h5"

# .h5 for HDF5
# Save the Keras model to an HDF5 file
batch_norm_model.save(file_path)

In [38]:
#Discussion

In [ ]:
Both Batch Normalization and Drop out regularization with an epoch of 100 had an accuracy of 73%. The adjustments and extended training epochs had a diminishing rate of improving the model's accuracy.